#include <zephyr/dt-bindings/led/led.h>
/ {
	/* Short TL_Key3 (J5 pin 13) to ground (J3 pin 24, 26, 28, 30) */
	key_pool {
		compatible = "gpio-keys";

		inp {
			gpios = <&gpioa 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
					/* <&gpiof 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; */
		};
	};

	key_matrix {
		compatible = "gpio-keys";

		col {
			gpios = <&gpiod 6 GPIO_ACTIVE_HIGH>,
					<&gpiof 6 GPIO_ACTIVE_HIGH>;
		};

		row {
			gpios = <&gpiod 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
					<&gpiod 7 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		};
	};

	led_pool {
		compatible = "gpio-leds";

		out {
			gpios = <&gpioe 6 GPIO_ACTIVE_HIGH>;
		};
	};

	pwm_pool {
		compatible = "pwm-leds";
		out {
			pwms = 	<&pwm0 0 PWM_HZ(4000) PWM_POLARITY_NORMAL>,
					<&pwm0 1 PWM_HZ(4000) PWM_POLARITY_NORMAL>;
					/*<&pwm0 2 PWM_HZ(4000) PWM_POLARITY_NORMAL>,
					<&pwm0 3 PWM_HZ(4000) PWM_POLARITY_NORMAL>,
					<&pwm0 4 PWM_HZ(4000) PWM_POLARITY_NORMAL>;*/
		};
	};

	zephyr,user {
		/* adjust channel number according to pinmux in board.dts for adc demo. */
		io-channels = <&adc 0>;
	};

};

&pwm0 {
	/* On board RGB LEDs */
	pinctrl-ch0 = <&pwm_ch0_pa0_default>;
	pinctrl-ch1 = <&pwm_ch1_pa2_default>;
	/*pinctrl-ch2 = <&pwm_ch2_pa1_default>;
	pinctrl-ch3 = <&pwm_ch3_pa3_default>;
	pinctrl-ch4 = <&pwm_ch4_pa4_default>;*/
};

&pinctrl {
	pwm_ch0_pa0_default: pwm_ch0_pa0_default {
		pinmux = <B9x_PINMUX_SET(B9x_PORT_A, B9x_PIN_0, B92_FUNC_PWM0)>;
	};
	pwm_ch1_pa2_default: pwm_ch1_pa2_default {
		pinmux = <B9x_PINMUX_SET(B9x_PORT_A, B9x_PIN_2, B92_FUNC_PWM1)>;
	};
	/*pwm_ch2_pa1_default: pwm_ch2_pa1_default {
		pinmux = <B9x_PINMUX_SET(B9x_PORT_A, B9x_PIN_1, B92_FUNC_PWM2)>;
	};
	pwm_ch3_pa3_default: pwm_ch3_pa3_default {
		pinmux = <B9x_PINMUX_SET(B9x_PORT_A, B9x_PIN_3, B92_FUNC_PWM3)>;
	};
	pwm_ch4_pa4_default: pwm_ch4_pa4_default {
		pinmux = <B9x_PINMUX_SET(B9x_PORT_A, B9x_PIN_4, B92_FUNC_PWM4)>;
	};*/
};

&adc {
	/* the channel setting for adc demo. */

	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <14>;
		zephyr,input-positive = <DT_ADC_GPIO_PB1>;
	};
};


&gspi {
	led_strip: ms15155e@0 {
		compatible = "chinaasic,ms15155e-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <6400000>;

		/* MS15155E */
		chain-length = <1>; /* arbitrary; change at will */
		spi-cpha;
		spi-one-frame = <0xfc>; /* 11111100: 937.5 ns high and 312.5 ns low */
		spi-zero-frame = <0xc0>; /* 11000000: 312.5 ns high and 937.5 ns low */
		color-mapping = <LED_COLOR_ID_RED
                 LED_COLOR_ID_GREEN
                 LED_COLOR_ID_BLUE
                 LED_COLOR_ID_AMBER
                 LED_COLOR_ID_YELLOW>;
	};
};

/ {
	aliases {
		led-strip = &led_strip;
	};
};